body {
  font-family: Arial;
  background: #111;
  color: #fff;
  padding: 20px;
  text-align: center;
}

button {
  padding: 10px 16px;
  margin-top: 10px;
  background: #00bfff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
button:hover {
  background: #0099cc;
}

.form {
  margin: 20px 0;
}

input {
  padding: 10px;
  width: 200px;
  border-radius: 8px;
  border: none;
}

#lista {
  margin-top: 20px;
}

.item {
  background: #222;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 10px;
}
